{% load wagtailcore_tags %}

<div class="hero-content-layout">
    <!-- Hero Section -->
    {% if value.hero_section %}
        <div class="hero-section mb-5">
            {% for block in value.hero_section %}
                {% include_block block %}
            {% endfor %}
        </div>
    {% endif %}
    
    <!-- Content Section -->
    {% if value.content_section %}
        <div class="content-section">
            {% for block in value.content_section %}
                {% include_block block %}
            {% endfor %}
        </div>
    {% endif %}
</div>
