{% load wagtailcore_tags wagtailimages_tags %}

{% for section in value.sections %}
    <section class="parallax-section position-relative" 
             style="background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; padding: 80px 0; min-height: 60vh;">
        
        {% if section.background_image %}
            {% image section.background_image original as bg_img %}
            <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100" 
                 style="background-image: url('{{ bg_img.url }}'); background-attachment: fixed; background-position: center; background-size: cover; z-index: -2;"></div>
        {% endif %}
        
        {% if section.overlay_opacity %}
            <div class="parallax-overlay position-absolute top-0 start-0 w-100 h-100 bg-dark" 
                 style="opacity: {{ section.overlay_opacity }}; z-index: -1;"></div>
        {% endif %}
        
        <div class="container position-relative text-white">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    {% for block in section.content %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endfor %}