{% load wagtailcore_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="column-1">
                {% for block in page.column_1 %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-2">
                {% for block in page.column_2 %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="column-3">
                {% for block in page.column_3 %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>